

*{
    box-sizing: border-box;
    margin: 0px;
    text-decoration: none;
}

.card-title{
    font-size: 3.8rem;
    font-weight: 900;
    line-height:1.1;
    text-align:center;
    max-width: 650px;
    letter-spacing: -2px;
    margin-bottom:1rem;
}

.card-subtitle{
    margin: 0 0 16px;
    font-size: 20px;
    
}

.email-form-title{
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 16px;
    text-align: center;
}

.hero-section{
    background-image: url(./assets/the_netflix_background_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.banner-container{
    text-align: center;
    padding: 0 20px;
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 45px);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:24px 170px;
    position: relative;
    z-index: 2;
}
.navbar > img{
    width: 165px;
    height: 45px;
    object-fit: contain;
}